<% if flash[:notice] %>
    <div class="flash" style="background-color: blue;
                              color:white;">
        <%= flash[:notice] %>
    </div>
<% end %>

<div class="comment">
    <h1>- - - - - - - -<br>
    ひとりごと<br>
    - - - - - - - -</h1>
    <div class="greeting">
        <p>ここまでご覧いただきありがとうございます。</p>
        <p>このページでは私のことをもっと知ってもらおうと思い、質問
        コーナーをご用意しました。</p>
        <p>皆様からのご質問お待ちしております。</p>
        <p>可能な限り回答いたします。</p>
    </div>
    <div class="makeQ">
        <%= link_to("質問する", "/comment/new") %>
    </div>

    <% @posts.each do |post| %>
        <div style="padding:1.6rem 0;">
        - - - - - - - - - - - - - - -
            <h2>ラジオネーム</h2>
            <p>「<%= post.name %>」</p>
            <h2>しつもん</h2>
            <p>「<%= post.question %>」</p>
            <h2>かいとう</h2>
            <p>「<%= post.answer %>」</p>
            <% if session[:user_id] %>
                <p>id: <%= post.id %></p>
                <p>published: <%= post.published %></p>
                <%= link_to("へんしゅう", "/comment/#{post.id}/edit")%>
                <%= link_to("さくじょ", "/comment/#{post.id}/destroy", data: { turbo_method: :post })%>
            <% end %>
        - - - - - - - - - - - - - - - -
        </div>
    <% end %>
</div>

