<!DOCTYPE html>
<html>
  <head>
    <title>とーきちのぺーじです</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="header-main">
    <div class="header-title">
      <%= link_to("とーきちのじこしょうかいぺーじ", "/")%>
    </div>
    <div class="menu-wrap">
      <ul class="header-menu">
        <% if session[:user_id] %>
          <li class="header-menu-content">
          <%= @current_user.name %>
          </li>
          <li class="header-menu-content">
          <%= link_to("ログアウト", "/logout",data: { turbo_method: :post } ) %> 
          </li>
        <% end %>
        <li class="header-menu-content">
        <%= link_to("ぷろふぃーる", "/profile")%>
        </li>
        <!-- <li class="header-menu-content">
        <%= link_to("ひすとりー", "/history")%>
        </li> -->
        <li class="header-menu-content">
        <%= link_to("ひとりごと", "/comment")%>
        </li>
      </ul>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
