<!DOCTYPE html>
<html>
  <head>
    <title>とーきちのぺーじです</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
  </head>

  <body>
  <header class="header-main">
    <div class="header-title">
      <%= link_to("とーきちのじこしょうかいぺーじ", "/")%>
    </div>
      <ul class="header-menu">
        <li class="header-menu-content">
        <%= link_to("ぷろふぃーる", "/profile")%>
        </li>
        <li class="header-menu-content">
        <%= link_to("ひすとりー", "/history")%>
        </li>
        <li class="header-menu-content">
        <%= link_to("ひとりごと", "/comment")%>
        </li>
      </ul>
  </header>
    <%= yield %>
  </body>
</html>
